<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="ReservedSystemPermission" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Earn_money"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Maintainance"
            android:exported="false" />
        <activity
            android:name=".Money_Request"
            android:exported="true" />
        <activity
            android:name=".Privacy_Policy"
            android:exported="true" />
        <activity
            android:name=".BankTransaction"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Contact_Us"
            android:exported="true" />
        <activity
            android:name=".DashBoard"
            android:exported="true" />
        <activity
            android:name=".Withdraw"
            android:exported="true" />
        <activity
            android:name=".Permission"
            android:exported="true" />
        <activity
            android:name=".SpinWheel"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>